<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ESGameManagerLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ESGameManagerLibrary.Properties.Settings>
            <setting name="Flag1" serializeAs="String">
                <value>Flag 1</value>
            </setting>
            <setting name="Flag2" serializeAs="String">
                <value>Flag 2</value>
            </setting>
            <setting name="Flag3" serializeAs="String">
                <value>Flag 3</value>
            </setting>
            <setting name="Flag4" serializeAs="String">
                <value>Flag 4</value>
            </setting>
            <setting name="Flag5" serializeAs="String">
                <value>Flag 5</value>
            </setting>
            <setting name="Flag6" serializeAs="String">
                <value>Flag 6</value>
            </setting>
            <setting name="Flag7" serializeAs="String">
                <value>Flag 7</value>
            </setting>
            <setting name="Flag0" serializeAs="String">
                <value>Flag 0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Flag1Color" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Flag2Color" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Flag3Color" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Flag4Color" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Flag5Color" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Flag6Color" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Flag7Color" serializeAs="String">
                <value>6</value>
            </setting>
        </ESGameManagerLibrary.Properties.Settings>
    </userSettings>
</configuration>